@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>
<head><link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"></head>
<body style="background-image: url('https://i.imgur.com/gGHxDDx.jpg');">

    <div class="jumbotron">
        <div class="img"></div>
        <h1><b>ABOUT US</b></h1>
        <p class="lead">
            <h2>A ROOM FOR YOU</h2>
        <p class="lead">
            With more than 570 locations across 6 continents, Shangri La provides an authentic and contemporary experience for our guests worldwide. Our guest rooms feature a smart, functional design plus thoughtful amenities. And our Request Upon Arrival service ensures that your room will be unique to your specifications from the moment you check in.
        </p>
        <h2>EAT & DRINK</h2>
        <p class="lead">
            We know that food and drink are an important part of any stay. Whether dining in one of our innovative on-site restaurants or having a healthy Hilton Breakfast in-room, you’ll find delicious and accessible options to satisfy any craving.
        </p>
        <h2>WHAT CAN WE DO FOR YOU?</h2>
        <p class="lead">
            Our Team Members are always ready to provide friendly, individualized service to our guests. We’re also happy to offer a range of services to meet your needs. Keep up your workout routine at our on-site fitness centers or relax at one of our spas. From booking to checkout, we’re here to make your stay as enjoyable as possible.
        </p>
        <h2>GLOBAL MIND. LOCAL HEART.</h2>
        <p class="lead">
            Tipton and our Team Members support a variety of charitable efforts. We make it easy for Hilton Honors members to do the same by converting points into assistance for those in need. We also support global sustainability in many ways. 
            From implementing sustainability projects at every one of our hotels to partnering with Clean the World to recycle soap for donation, 
            we are always looking for ways to reduce our impact. In fact, a Tipton hotel was the first to earn both LEED and Green Seal environmental certifications. We’re also proud to be active participants in our communities, volunteering to improve the lives of young people at over 1,500 global community projects as part of our Global Month of Service every year. We’re more than just a hotel – 
            we’re a global citizen.
        </p>
    </div>
    <style type="text/css">
        .jumbotron {
            margin-top: 15px;
            padding: 17px;
            color: #C9A891;
            font-size: 5px;
            background-size: cover;
            background-color: #2B1B17;
            opacity: 0.1;
            font-family: 'Dancing Script', cursive;
            font-size: xx-large;
            opacity: 0.9;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: #290800;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            width: 3px;
            background: #FFF8E1;
        }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
      </style>
      </body>
