@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>
<body style="background-image: url('https://i.imgur.com/lgRwVfh.jpg');">
    <address>
        Shangri La<br />
        38, Dubai Street, Dubai Bus-Stand, <br />
        Dubai-600420<br />
        <abbr title="Phone">P:</abbr>
        04414342069
    </address>

    <address>
        For customer support, contact our customer support team
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        For business queries, contact our marketing team
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</body>