
@{
    ViewBag.Title = "Deluex";
    Layout = "~/Views/Shared/DashBoardMaster.cshtml";
}

<link href="~/Content/DropDownButton.css" rel="stylesheet" />

<h2 style="text-align:center;color:white">Deluex</h2>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">AC</div>
                <div class="panel-body"><a href="@Url.Action("RoomBook","Bookings",new { type="Deluxe",Description="AC",Cost=4000})"><img src="https://media.luxhabitat.ae/imagenes/1412798043_mod_1.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer">Rs.4000/-</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">NON-AC</div>
                <div class="panel-body"><a href="@Url.Action("RoomBook","Bookings",new { type="Deluxe",Description="NON-AC",Cost=5000})"><img src="http://www.grandpalazzohotel.com/images/premium-grand-room.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer">Rs.5000/-</div>
            </div>
        </div>
    </div>
</div><br>



