@{
    Layout = "~/Views/Shared/DashBoardMaster.cshtml";
    if (Session["name"] == null)
    {

        Response.Redirect("~/HMSCustomer/Index");

    }
}
<h2>DashBoard</h2>
    <link href="~/Content/DropDownButton.css" rel="stylesheet" />
       <div class="dropdown">
       <button class="dropbtn">Dropdown</button>
       <div class="dropdown-content">
            <a href="@Url.Action("SuperDeluex","Home")">Super Deleux</a>
            <a href="@Url.Action("Deluex","Home")">Deleux</a>
            <a href="@Url.Action("Normal","Home")">Normal</a>
      </div>
      </div>



